<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>Karen Shay West's Home Page</title>
	</head>
	<body>
		<div id="header">
           <!-- <img id="pic"
           src="https://github.com/KarenWest/myPhotosAndVideosForWebSite/KarenShayWestAge50Dec2015_crop.jpeg"/>-->
	          <div id="photo"> <a href="KarenShayWestAge50Dec2015_crop.jpeg"><img alt=""
            src="KarenShayWestAge50Dec2015_crop.jpeg" style="border: 0px solid; width: 85px;
            height: 85px;"></a> </div>

            <ul></ul>
			<p id="name">Karen Shay West: 9 Shannon Marie Way, North Easton, MA 02356 | Tel: (508) 844-9776</p>
	        <a href="mailto:KarenWest15@gmail.com"><p id="email">KarenWest15@gmail.com</p></a>
	        <ul></ul>
            <!--<a href="https://github.com/KarenWest/myFilesForWebSite/KarenShayWest_4pageResumeCV_June2016.pdf">Link
            to my resume (CV)!</a>-->
	    <a href="https://drive.google.com/open?id=0B0ao1LZvdelIRmZpb0E5WERpTGM">Link
	    to my resume (CV)!</a>
            <ul></ul>
            <a href="http://www.linkedin.com/in/karenshaywest">Click to go to my Linked In site!</a>

		</div>
		<div class="left">
		  <ul>
		    <li id="left-01"><a href="karenshaywest.html">BELOW: List of Recent
		    Learning - CLICK HERE to Go To My Home Page Resume</a></li>
	            <li id="left-02"><a href="embeddedsystemslabs.html">Embedded Systems Projects</a></li>
		    <li id="left-03"><a href="cshell.html">C Shell Linux
	            Command Interpreter</a></li>
		    <li id="left-04"><a href="cwebserver.html">C Web Server To Physical Computing</a></li>
		    <li id="left-05"><a href="androidappsjavaxml.html">Android Apps Java XML</a></li>
		    <li id="left-06"><a href="appliedpythonexamples.html">Applied Python Examples</a></li>
		    <li id="left-07"><a href="pythonusedforartificialintelligenceonpacman.html">Python Used For Artificial Intelligence On Pacman</a></li>
		    <li id="left-08"><a href="matlabandwiresharkandwirelesscommunicationsystems.html">MATLAB
		  and WireShark And Wireless Communication Systems</a></li>
		    <li id="left-09"><a href="makinganddeployingawebsite.html">Making
	    And Deploying A Website</a></li>
		    <li id="left-10"><a href="randdataanalysis.html">R and Data Analysis</a></li>
		    <li id="left-11"><a href="softwareandhardwaresecurity.html">Software
		  And Hardware Security</a></li>
		    <li id="left-12"><a href="computetechnologyforsmartphone.html">Compute
	    Technology For Smart Phone</a></li>
		    <li id="left-13"><a href="gitandgithubandrubyonrailsappsintro.html">Git
	    And Git Hub And Ruby On Rails Apps Intro</a></li>
		    <li id="left-14"><a href="networkprotocols.html">Network Protocols</a></li>
		    <li id="left-15"><a href="databasespatialcomputingsqlmapsandgps.html">Database
	    Spatial Computing SQL maps And GPS</a></li>
		    <li id="left-16"><a href="agilentkeysighttektronixworkshops.html">Agilent
	    Keysight Tektronix Workshops on Their Equipment and Radio Frequencies</a></li>
		    <li id="left-17"><a href="economicsbusinessentrepreneurhumanrightslaws.html">Economics,
		    Business, Entrepreneur, Laws, and Human Rights</a></li>
		    <li id="left-18"><a href="currentLearningInProgress.html">Current
		    Learning In Progress While Job Searching</a></li>

		  </ul>
		</div>

		<div class="right">
			<h4>OBJECTIVE</h4>
			<ul>
			    <li>Looking for Software, Embedded or Related
			    Business Position.</li>
			    <li>Below details the 18 years experience I had as 
			      software engineer in the embedded systems
			      market.  The left hand column links detail the 
			      online course work, technical projects and 
			      humanities I've learned about during this period 
			      of job search, to complement my work experience 
			      and BS and MS in Electrical and Computer 
			      Engineering and Computer Science.</li>
			    <li>My interests are athletics, cooking and trying
			    to stay healthy, family and friend activities of
			    all kinds, reading interesting things, traveling
			    when the budget allows my family to do that, while 
			    trying make the efforts needed to find a full 
			    time job back in the high tech world I used to 
			    work in, and improve myself along the way.</li>
			</ul>
			
			<h4>CORE FUNDAMENTALS</h4>
			<ul>
			  <li>Strong embedded C developer: including local area 
			    networks and communications, satellite TV, USB
			    products, core home gateways, all-in-one
			    printer/scanner/copier  fax machines, multimedia
			    infotainment  systems, and US Navy missile defense
			    systems</li>

			  <li>Driven and rigorous product test developer even in
			    the most safety critical environments</li>

			  <li>Brought in new gaming business by writing C code 
			    for a set top box for demonstration to visiting
			    vendors</li>

			  <li>Effectively ran department meetings in a test
			    leadership role resulting in passing US Navy
			    Government Inspections of Code and Documentation</li>

			  <li>Have a passion and seemingly limitless energy for
			    learning new technologies and humanities</li>
			</ul>
			<h4>SOFTWARE LANGUAGES</h4>

			<p>C, Assembly, Python, Android with Java and XML, R, MATLAB, Ruby on Rails, C++, SQL</p>
			<h4>TECHNICAL SKILLS AND HUMANITIES</h4>
			<ul>

			  <li>Software, Embedded Development: GNU, Emacs, PSOS, VxWorks, Proprietary RTOSs, Microsoft Visual Studio, C-shell Linux command interpreter using I/O redirection and forked and execed processes, Web Server in C</li>

			  <li>Code Management and Code Document Design: Git, Github, ClearCase, CVS, Source Safe, Gliffy Diagrams</li>

			  <li>Hardware and software debug: SoC registers specifications, Keil for Windows for ARM, Logic Analyzers, Oscilloscopes, Sniffers, Debuggers, Emulators, Jade hardware design</li>

			  <li>General: UNIX/Linux, Windows, Microsoft Office
			  Suite or Linux Open Office Suite, DOORS</li>
			</ul>
			<h4>TECHNICAL SKILLS FROM COURSES AND WORKING</h4>
			<p>Technical Skills From Courses and Working: Eclipse, Android Studio, Blue J, PWM, ADC, DAC, UARTs, LCD controller, UARTs, MathWorks MATLAB, Vmware Player, Oracle Virtual Box, and KVM's QEMU, all running Linux, Enthought's Canopy, Mentor Graphics Tools and Spice to design CPUs, I2C, SPI, Modbus, Rstudio, SQL, Software Security (buffer overflows, breaking web sites, tools to detect issues), Hardware Security (design vulnerabilities, Intellectual Property (IP), physical attacks, modular exponentiation, side channel attacks, hardware trojans, physical unclonable functions (PUF))</p>

			<h4>HUMANITIES</h4>
			<p>Justice-Ethical Reasoning, Micro-and
			Macroeconomics, International Human Rights, EU
			Business Law, US Constitution, Growing Entrepreneurs
			in Challenging Economies, Technical Entrepreneur,
			International Criminal Law, Wiretapping and
			Surveillance, Solving Complex Problems</p>

			<h4>EXPERIENCE</h4>

			<p>RECENT YEARS: Online education, short term, part time work--details in education section</p>
			<ul>
			<li>DRAPER LABS, Cambridge, Massachusetts - 4/2007 to
			8/2009 - Security Clearance Senior Technical Staff
			Member, Embedded Software, Test Coordination,
			Guidance, Navigation and Controls
			  <ul>
			  <li>Test Coordinator: Spearheaded simulation and
			  functional testing operations in the open and closed
			  loop control systems simulators for the US
			  Navy.</li></ul>
			</li>

			<li>MOTOROLA, Lexington, Massachusetts - 1/2005 to
			4/2007 - Applications Integration Embedded Software
			Support Engineer, Lexington, Massachusetts
			  <ul>
			    <li>Authored multiple sample applications in C to
			      debug interface between set-top-box firmware and 
			      vendor applications. Guaranteed that 100% of set-
			      -top-boxes could download and debug firmware and 
			      applications.</li></ul>
			</li>
			<li>OASIS SEMICONDUCTOR, Waltham, Massachusetts,
			5/2002 to 12/2004--Embedded Firmware and Quality
			Assurance (QA) Software Engineer
			  <ul>
			  <li>Designed and supported C code for printer and 
			    scanner software/firmware in addition to testing 
			    software/hardware for all-in-one printer, scanner, 
			    copier and fax machines, was the 25th employee at 
			    Oasis Semiconductor and learned how to work as an 
			    embedded software engineer in a start up
			    environment and watch the company grow.</li></ul>
			</li>
			<li>MOTOROLA, Mansfield, Massachusetts, 8/2000 to 
			  5/2002--Embedded Senior Software Engineer
			  <ul>
			    <li>Wrote USB, Ethernet and HomeRF Wireless 
			      drivers written in C for BSD UNIX operating 
			      system by Broadcom for their chipset they had 
			      designed that we were using in our core gateway, 
			      to work on our Vx Works embedded operating
			      system, traveled to Broadcom in California to 
			      work individually with some engineers to achieve 
			      this, and also assisted another engineer with
			      the C code for their bridging software.</li></ul>
			  </li>
			</ul>
			<p>EARLY CAREER--1/1986--8/1986 (co-op), 7/1998-- 
			  8/2000 (with graduate School 1992-1997)</p>
			<ul>
			  <li>AMERICAN MEGATRENDS, INC.--Norcross,GA-- 
			    11/1998--8/2000--Software Engineer --USB
			    products
			  </li>

			  <li>SCIENTIFIC-ATLANTA--Norcross,GA--3/1998-- 
			    11/1998--Software Engineer, Satellite TV embedded 
			    C with PSOS embedded OS</li>

			  <li>TEXAS INSTRUMENTS--Dallas,TX--10/1997-- 
			    2/1998--ASIC Software Engineer Support </li>

			  <li>GEORGIA TECH RESEARCH INSTITUTE--Pittsburgh,PA--
			    1/1995--9/1996, and Summer 1997--Part-time 
			    Research Assistant--DOT database Rally software, 
			    C/C++ development and test for CS professors</li>

			  <li>CDI CORPORATION--WESTINGHOUSE CONTRACT--Nuclear 
			    Reactor--Pittsburgh,PA--5/1994--8/1994-- 
			    Software Test</li>

			  <li>PITTSBURGH SUPERCOMPUTER CENTER AT MELLON
			    INSTITUTE--Pittsburgh,PA--5/1993--8/1993--
			    Summer Intern Software Engineer for a CS professor
			    (parallel processing software performance and test)
			  </li>
			  <li>CARNEGIE MELLON UNIVERSITY--Pittsburgh,PA-- 
			    8/1992--5/1993--Graduate Research Assistant 
			    (networks and communcations course grader, tested 
			    MACH microkernal with DOS running as process, and 
			    the Coda File System, which when a lap top 
			    disconnected from the Andrew File System, would 
			    update it upon reconnection)</li>

			  <li>DIGITAL EQUIPMENT CORPORATION--Littleton,MA-- 
			    7/1987--8/1992--Senior Software Engineer for 
			    Local Area Networking Group--MAC and PHY chip
			    test, C test code for hardware diagnostics, 
			    embedded C firmware, won RAP (Recognition and 
			    Performance) cash award while there.</li>

			  <li>IBM--Kingston,NY--1/1986--8/1986--Co-op 
			    Software-Hardware - Intrepid Project, Math 
			    Coprocessor</li>
			  </ul>

			<h4>EDUCATION  (financed myself through short term jobs and loans and some parental help)</h4>

			<p>RECENTLY: Various Schools While Working Short Term 
			  and Part time: 19 technical courses/projects, 10 
			  humanities, 29 total), short term software
			  contractor at AES (Associated Environmental
			  Systems), part time at Best Buy, and Kohl's.  I've
			  also been doing tutorials from Code Academy (web
			  area), Packt (Android Wear Review), Linux
			  Foundation (System Administrator and Certified
			  Engineer), Udacity and Planning to do from BU
			  (Operating Systems Review), EdX(CS50), and often
			  listen to Audibles (currently the Internet of
			  Things Security)</p>
			<ul>
			<li>GEORGIA INSTITUTE OF TECHNOLOGY, Atlanta, Georgia, 
			  Master of Science, 1995-1997: Electrical/Computer 
			  Engineering & Computer Science: courses and projects 
			  in computer architecture, computer science, 
			  networking.   WORKED SHORT TERM to finance at GTRI, 
			  GEORGIA TECH, QUANTUM, TI, SCIENTIFIC-ATLANTA</li>

			<li>CARNEGIE MELLON UNIVERSITY, Pittsburgh, 
			  Pennsylvania, Graduate Course Work, 1992-1993: 
			  Electrical Engineering & Computer Science--
			  networks, operating systems, distributed systems, 
			  software for real-time. WORKED SHORT TERM to finance 
			  at CMU, PITTSBURGH SUPERCOMPUTER CENTER, and
			  CDI CONTRACT at WESTINGHOUSE</li>

			<li>BOSTON UNIVERSITY, Boston, Massachusetts, Bachelor 
			  of Science, 1983-1987: Electrical Engineering,
			  WORKED SHORT TERM at IBM to finance and gain related 
			  experience (co-op).</li>
			</ul>

			<h4>LIST OF RECENT ONLINE COURSE WORK, TECHNICAL AND
			BUSINESS RELATED HUMANITIES</h4>

			<p><em>See left hand column of this web page for links
			  that contain details with github links to files</em> </p>

			<h4>TECHNICAL -- SOFTWARE AND HARDWARE:</h4>
			<ul>
			  <li>C Shell Linux Command Interpreter for further 
			    depth in Linux systems programming and IO</li>

			  <li>Further Depth in Embedded Systems and 
			    Microcontroller Design</li>
			  
			  <li>Web Server in C</li>

			  <li>Applied Python Algorithms</li>

			  <li>Applied Python to Artificial Intelligence 
			    Algorithms</li>

			  <li>Android Applications (Java/XML)</li>

			  <li>Git and GitHub</li>

			  <li>Software Security</li>

			  <li>Hardware Security</li>

			  <li>Hardware Design of a Smart Phone Using Jade Tool</li>
			  <li>R for Data Analysis</li>

			  <li>MATLAB applied to systems view of wireless 
			    communications</li>

			  <li>Ruby on Rails Software as a Service Web 
			    Applications (Introduction)</li>

			  <li>Databases</li>

			  <li>Spatial Computing SQL, Maps, GPS</li>

			  <li>Network Protocols</li>

			  <li>Making a Web Site Tutorial</li>

			  <li>Agilent and Tektronix Workshops on Radio 
			    Frequency (RF) test, measurement and simulation 
			    techniques, Function Generators, Oscilloscopes, 
			    Power Analyzers, BenchVue Software, Spectrum 
			    Analyzers</li>
			  </ul>
			  <h4>BUSINESS AND LAW HUMANITIES:</h4>
			  <ul>
			    <li>Justice and Ethical Reasoning</li>
			    <li>Microeconomics</li>
			    <li>Macroeconomics</li>
			    <li>Beyond Silicon Valley: Growing Entrepreneurs 
			      in Challenging Economies</li>
			    <li>Technical Entrepreneur</li>
			    <li>European Union Business Law</li>
			    <li>International Human Rights</li>
			    <li>International Criminal Law</li>
			    <li>US Constitution</li>
			    <li>Wiretapping and Surveillance (read book 
			      related to online course)</li>
			    <li>Solving Complex Problems--Professional Group 
			      Decision Making Support In Highly Complex 
			      Situations--watched videos for online course</li>
			    </ul>

		</div>
		<div id="footer">
			<p>9 Shannon Marie Way, North Easton, MA 02356 | Tel: (508) 844-9776</p>
		</div>
	</body>
</html>
